<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/app.css"/>
  </head>
  <body ng-app="localDealsApp" ng-controller="SearchController">
    <h1>Find Local Deals!</h1>

    <form>
      <div class="input-group">
        <input class="form-control" />
        <div class="input-group-btn" uib-dropdown>
          <button
            type="button"
            class="btn btn-default"
            ng-click="getProducts()">
            Search</span>
          </button>
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            uib-dropdown-toggle>
            All Categories <span class="caret"></span>
          </button>

          <ul
            id="categories-dropdown"
            class="dropdown-menu dropdown-menu-right"
            uib-dropdown-menu
            role="menu">
            <li ng-repeat="category in categories" ng-click="getProducts()">
              <a href="#">{{ category }}</a>
            </li>
          </ul>
        </div>
      </div>
    </form>

    <div class="results">
      <product-panel products="products"></product-panel>
    </div>

    <!-- Libraries / Dependencies -->
    <script src="app/lib/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.8/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap.min.js"></script>

    <!-- TODO: User bower / webpack to handle dependencies -->
    <script src="app/app.js"></script>
    <script src="app/filters/trustHtml.js"></script>
    <script src="app/controllers/searchController.js"></script>
    <script src="app/factories/categories.js"></script>
    <script src="app/factories/products.js"></script>

    <!-- TODO: Use components after setting up webserver, right now has CORS errors -->
    <script src="app/components/productPanel.js"></script>
    <!-- <script src="app/components/categoriesDropDown.js"></script> -->
  </body>
</html>
